@import url('globalSettings.css');
/**search-bar global settings*/
.search-bar-form {
    width: 100%;
    min-height: 4rem;
    margin-top: var(--margin-smaller);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding: var(--padding-medium);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    user-select: none;
}
.search-bar-form input {
    background: var(--bg-clr);
    padding-inline: var(--padding-medium);
}

/**place input global settings*/
.place-input-container {
    flex: 2;
    min-height: 2rem;
    position: relative;
}
.place-input-container span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--padding-medium);
    cursor: text;
}
#place {
    border-top-left-radius: calc(var(--radius) - var(--padding-medium));
    width: 100%;
    height: 100%;
    min-width: 10rem;
}

.input-suggestion-container {
    position: absolute;
    top: 3.5rem;
    width: 100%;
    height: 12.5rem;
    background: var(--bg-clr);
    box-shadow: var(--main-shadow);
    overflow-y: scroll;
    padding: var(--padding-small);
    z-index: 2;
}
.input-suggestion-container:empty {
    display: none;
}
.input-suggestion-result {
    cursor: pointer;
    width: 100%;
    padding: var(--padding-small);
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.input-suggestion-result:hover {
    background: var(--bg-clr-100);
}

/**date input global settings*/
.date-input-container {
    display: flex;
    gap: 0;
    position: relative;
    flex: 2;
    min-width: 10rem;
}
.date-input-container  input{
    position: inherit;
    width: 50%;
    padding-left: var(--padding-bigger);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.date-input-container span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-small);
    left: 10px
}
.date-input-container span:last-child {
    left: calc(50% + 20px);
}
.date-input-container::before {
    content: '';
    height: 3rem;
    width: 4px;
    background: var(--txt-clr);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(25deg);
    left: 50%;
    z-index: 2;
}
/**person input global settings*/
.person-input-container {
    position: relative;
    flex: 2;
    min-width: 7rem;
}
#person {
    padding-inline: var(--padding-medium);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-clr);
}
#person i {
    transition: var(--main-faster-transition);
}

.person-select-container {
    display: block;
    width: 100%;
    max-height: 12rem;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 3.5rem;
    background: var(--bg-clr);
    padding: var(--padding-medium);
    backdrop-filter: blur(2px);
    box-shadow: var(--main-shadow);
    z-index: 2;
}
.person-select-container-close {
    display: none;
}
.person-icon-close {
    transform: rotate(180deg);
}

.person-select-container hr {
    margin-block: 10px;
    width: 25%;
}

.person-select-option {
    height: 1rem;
    display: flex;
    justify-content: space-between;
}
.count-option-container {
    width: 7rem;
    height: 100%;
    display: flex;
    gap: 0;
}
.count-option-container button, .count-option-container input{
    width: 100%;
    height: 100%;
    padding: var(--padding-thin);
    text-align: center;
}
.count-option-container button{
   background: var(--bg-clr-100);
}
.count-option-container input {
    cursor: default;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.children-age-container {
    height: calc(2rem + (var(--padding-thin) * 2));
    width: 100%;
    border: solid 2px var(--accent-clr);
    border-radius: var(--radius-smaller);
    margin-top: var(--margin-smaller);
    padding: var(--padding-thin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.children-age-container select {
    width: 6.5rem;
    height: 100%;
    background: var(--bg-clr-100);
    border: none;
    border-radius: calc(var(--radius-smaller) - var(--padding-thin));
    outline: none;
}
/**button search global settings*/
#search-button {
    background: var(--primary-clr);
    padding-inline: var(--padding);
    border-top-right-radius: calc(var(--radius) - var(--padding-medium));
}
#search-button:hover {
    background: var(--primary-clr-100);
}
#search-button p {
    color: var(--bg-clr);
}